.about {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    width: 100%;
    height: 400px;
    padding-top: 50px;
}

.text-container {
    position: relative;
    width: 300px;
    left: 12vw;
}

.about-title {
    color: rgb(213, 226, 246);
    font-size: 30px;
    font-family: Roboto;
    width: 500px;
}

.about-text {
    color: rgb(213, 226, 246);
    font-size: 18px;
    line-height: 20px;
    width: 500px;
}

.about-resume {
    margin-top: 50px;
    margin-bottom: 50px;
}

.resume-btn {
    background-color: rgb(255, 100, 100);
    color: rgb(27, 63, 84);
    padding: 10px 20px;

    font-size: 18px;
    font-weight: bold;
    border: 3px solid transparent;
    border-radius: 5px;

    transition: all 0.15s;
}

.resume-btn:hover {
    background-color: rgb(27, 63, 84);
    color: rgb(255, 100, 100);
    border: 3px solid rgb(255, 100, 100);
    cursor: pointer;
}

.pic-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 140px;
    top: 90px;
}

.pic-img {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    box-shadow: -5px 10px 0px rgb(57, 102, 128);
}

@media (min-width: 1024px) {
    .about {
        padding-top: 20px;
    }

    .about-title {
        font-size: 28px;
    }

    .about-text {
        width: 400px;
    }

    .about-resume {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about {
        padding-top: 90px;
    }

    .about-title {
        font-size: 26px;
    }

    .about-text {
        width: 400px;
        font-size: 20px;
    }

    .about-resume {
        margin-top: 50px;
    }
}